* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Crimson Text', serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#navbar {
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 10px 20px 10px 20px;
    transition: all ease-in-out 0.6s;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}

#navbar-brand {
    width: 30px;
}

.navbar-links li {
    padding: 0 20px 0 20px;
    text-align: center;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    text-transform: capitalize;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: #4a89dc;
    color: white;
}

.no-border {
    border: none;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(44, 43, 43, 0.6);
}

.header-tag1 {
    position: absolute;
    margin: 0 0 0 80px;
    top: 20%;
    color: white;
    letter-spacing: 0.2em;
    z-index: 3;
}

#header-tag1-title {
    font-size: 30px;
    font-weight: bold;
}

.header-tag-title {
    display: none;
}

#header-tag1-title-underline {
    width: 400px;
    height: 2px;
    background-color: white;
}

#header-tag1-paragraph {
    width: 400px;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.explore-button {
    position: absolute;
    display: none;
    width: 200px;
    top: 80%;
    margin: 0 0 0 80px;
    z-index: 3;
    padding: 20px 40px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

a::before,
a::after {
    content: '';
    background: none;
    position: absolute;
    z-index: -1;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.explore-button::after {
    width: 0;
    height: 100%;
    left: -35%;
    top: 0;
    background-color: #186fe0;
    transform: skew(50deg);
    transform-origin: bottom right;
    transition: linear .4s;
}

.explore-button:hover::after {
    width: 410px;
    height: 100%;
}

.explore-button span {
    position: absolute;
}

.explore-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, right top, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.explore-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.explore-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.explore-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.span-hover {
    display: none;
}

.home-about {
    background: url("/Assets/about-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 45px 0;
    color: white;
}

.home-about h3 {
    width: 520px;
    font-size: 32px;
    letter-spacing: 0.02em;
}

.home-about p {
    margin: 50px 0 0 0;
    width: 520px;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.progress-bars {
    width: 30%;
}

.progress {
    border-radius: 50px;
    margin-top: 10px;
}

.progress-bars h4 {
    font-size: 28px;
    margin-bottom: 50px;
}

.progress-span-1 {
    font-size: 18px;
}

.feedback-section {
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

.feedback-form {
    width: 380px;
    height: 428px;
    padding: 2em;
    background: transparent;
    color: white;
    border: 1px solid lightblue;
}

.feedback-form h3 {
    font-size: 25px;
    letter-spacing: 0.07em;
    text-align: center;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
    border-bottom: #4a89dc;
}

.input-focus {
    border-bottom: 1px solid red;
}


/* Label */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.used~label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }

    to {
        width: 0;
        background: transparent;
    }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: 3em 0 0.5em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}


/* Button modifiers */

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
    background: #357bd8;
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

.quotation {
    margin-top: 180px;
}

.quotation h5 {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.quote-btn {
    width: 150px;
    height: 45px;
    margin-top: 30px;
    background: transparent;
    border: 1px solid lightblue;
    color: white;
    cursor: pointer;
}

@media (max-width: 281px) {
    .feedback-form {
        border: none;
    }
}

@media (max-width: 391px) {
    .navbar-links li {
        font-size: 13px;
    }

    #navbar-toggler-icon {
        width: 18px;
    }

    .dropdown-item {
        font-size: 11px;
    }

    .header {
        height: 60vh;
    }

    .header-overlay {
        height: 60vh;
    }

    .header-tag1 {
        margin: 0 0 0 40px;
        top: 15%;
    }

    #header-tag1-title {
        font-size: 12px;
    }

    #header-tag1-title-underline {
        width: 100px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 220px;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
    }

    .explore-button {
        width: 150px;
        font-size: 8px;
        top: 45%;
        margin-left: 40px;
    }

    .home-about {
        display: flex;
        flex-direction: column;
        padding: 40px 0 10px 0;
    }

    .home-descr {
        margin: auto;
    }

    .home-about h3 {
        width: 250px;
        font-size: 18px;
        font-weight: bold;
    }

    .home-about p {
        margin: 20px 0 0 0;
        width: 230px;
        font-size: 10px;
    }

    .progress-bars {
        width: 80%;
        margin: 30px auto;
    }

    .progress {
        margin-top: 3px;
    }

    .progress-bars h4 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .progress-span-1 {
        font-size: 11px;
    }

    .feedback-section {
        display: flex;
        flex-direction: column;
    }

    .feedback-form {
        width: 280px;
        height: 380px;
        margin: auto;
    }

    .feedback-form h3 {
        font-size: 18px;
        letter-spacing: 0.07em;
    }

    input:focus~label,
    input.used~label {
        top: -2px;
    }

    .feedback-form label {
        font-size: 12px;
    }

    .feedback-form button {
        font-size: 9px;
    }

    .quotation {
        width: 90%;
        margin: 60px auto;
    }

    .quotation h5 {
        font-size: 19px;
    }

    .quotation button {
        width: 120px;
        font-size: 11px;
    }
}

@media (min-width: 392px) and (max-width: 575.98px) {
    .navbar-links li {
        font-size: 14px;
    }

    #navbar-toggler-icon {
        width: 20px;
    }

    .dropdown-item {
        font-size: 12px;
    }

    .header {
        height: 70vh;
    }

    .header-overlay {
        height: 70vh;
    }


    .header-tag1 {
        margin: 0 0 0 70px;
        top: 20%;
    }

    #header-tag1-title {
        font-size: 15px;
    }

    #header-tag1-title-underline {
        width: 200px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 300px;
        font-size: 33px;
        margin-top: 20px;
    }

    .explore-button {
        font-size: 10px;
        top: 55%;
    }

    .home-about {
        display: flex;
        flex-direction: column;
        padding: 40px 0 15px 0;
    }

    .home-descr {
        margin: auto;
    }

    .home-about h3 {
        width: 350px;
        font-size: 20px;
    }

    .home-about p {
        margin: 30px 0 0 0;
        width: 280px;
        font-size: 13px;
    }

    .progress-bars {
        width: 70%;
        margin: 30px auto;
    }

    .progress {
        margin-top: 3px;
    }

    .progress-bars h4 {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .progress-span-1 {
        font-size: 11px;
    }

    .feedback-section {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .feedback-form {
        height: 380px;
        margin: auto;
    }

    .feedback-form h3 {
        font-size: 18px;
        letter-spacing: 0.07em;
    }

    .feedback-form label {
        font-size: 14px;
    }

    .feedback-form button {
        font-size: 11px;
    }

    .quotation {
        width: 75%;
        margin: 60px auto;
    }

    .quotation h5 {
        font-size: 19px;
    }

    .quotation button {
        width: 120px;
        font-size: 11px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-links li {
        font-size: 15px;
    }

    #navbar-toggler-icon {
        width: 25px;
    }

    .dropdown-item {
        font-size: 13px;
        padding: 10px;
    }

    .header {
        height: 80vh;
    }

    .header-overlay {
        height: 80vh;
    }

    #header-tag1-title {
        font-size: 20px;
    }

    #header-tag1-title-underline {
        width: 270px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 320px;
        font-size: 40px;
        margin-top: 20px;
    }

    .explore-button {
        font-size: 13px;
        top: 60%;
    }

    .home-about {
        display: flex;
        flex-direction: column;
        padding: 40px 0 15px 0;
    }

    .home-descr {
        margin: auto;
    }

    .home-about h3 {
        width: 430px;
        font-size: 25px;
    }

    .home-about p {
        margin: 35px 0 0 0;
        width: 350px;
        font-size: 15px;
    }

    .progress-bars {
        width: 70%;
        margin: 40px auto;
    }

    .progress {
        margin-top: 3px;
    }

    .progress-bars h4 {
        font-size: 19px;
        margin-bottom: 30px;
    }

    .progress-span-1 {
        font-size: 11px;
    }

    .feedback-section {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .feedback-form {
        margin: auto;
    }

    .feedback-form h3 {
        font-size: 22px;
        letter-spacing: 0.07em;
    }

    .feedback-form label {
        font-size: 15px;
    }

    .feedback-form button {
        font-size: 13px;
    }

    .quotation {
        width: 62%;
        margin: 60px auto;
    }

    .quotation h5 {
        font-size: 22px;
    }

    .quotation button {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-links li {
        font-size: 17px;
    }

    .dropdown-item {
        font-size: 15px;
    }

    #header-tag1-title {
        font-size: 26px;
    }

    #header-tag1-title-underline {
        width: 350px;
        height: 1px;
    }

    #header-tag1-paragraph {
        font-size: 55px;
    }

    .explore-button {
        font-size: 15px;
    }

    .home-about {
        padding: 50px 0 40px 0;
    }

    .home-about h3 {
        width: 480px;
        font-size: 30px;
    }

    .home-about p {
        margin: 40px 0 0 0;
        width: 480px;
        font-size: 17px;
    }

    .progress-bars {
        width: 25%;
    }

    .progress {
        margin-top: 8px;
    }

    .progress-bars h4 {
        font-size: 25px;
        margin-bottom: 50px;
    }

    .progress-span-1 {
        font-size: 15px;
    }

    .feedback-section {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .feedback-form {
        margin: auto;
    }

    .quotation {
        width: 43%;
        margin: 60px auto;
    }
}

@media (min-width: 992px) {
    .navbar-links li {
        font-size: 19px;
    }

    .navbar-links {
        margin-left: 90px;
    }
}