* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Crimson Text', serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#navbar {
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 10px 20px 10px 20px;
    transition: all ease-in-out 0.6s;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}

#navbar-brand {
    width: 30px;
}

.navbar-links li {
    padding: 0 20px 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    text-transform: capitalize;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: #4a89dc;
    color: white;
}

.no-border {
    border: none;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(44, 43, 43, 0.6);
}

.header-tag1 {
    position: absolute;
    margin: 0 0 0 80px;
    top: 20%;
    color: white;
    letter-spacing: 0.2em;
    z-index: 3;
}

#header-tag1-title {
    font-size: 30px;
}

.header-tag-title {
    display: none;
}

#header-tag1-title-underline {
    width: 400px;
    height: 2px;
    background-color: white;
}

#header-tag1-paragraph {
    width: 400px;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

.explore-button {
    position: absolute;
    display: none;
    width: 200px;
    top: 80%;
    margin: 0 0 0 80px;
    z-index: 3;
    padding: 20px 40px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

a::before,
a::after {
    content: '';
    background: none;
    position: absolute;
    z-index: -1;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.explore-button::after {
    width: 0;
    height: 100%;
    left: -35%;
    top: 0;
    background-color: #186fe0;
    transform: skew(50deg);
    transform-origin: bottom right;
    transition: linear .4s;
}

.explore-button:hover::after {
    width: 410px;
    height: 100%;
}

.explore-button span {
    position: absolute;
}

.explore-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, right top, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.explore-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.explore-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.explore-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.span-hover {
    display: none;
}

@media (max-width: 391px) {
    .navbar-links li {
        font-size: 9px;
    }

    #navbar-toggler-icon {
        width: 18px;
    }
    
    .dropdown-item {
        font-size: 7px;
    }

    .header-tag1 {
        margin: 0 0 0 40px;
        top: 25%;
    }

    #header-tag1-title {
        font-size: 13px;
    }

    #header-tag1-title-underline {
        width: 160px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 220px;
        font-size: 30px;
        margin-top: 20px;
    }

    .explore-button {
        width: 150px;
        font-size: 8px;
        top: 70%;
        margin-left: 40px;
    }
}

@media (min-width: 392px) and (max-width: 575.98px) {
    .navbar-links li {
        font-size: 10px;
    }

    #navbar-toggler-icon {
        width: 20px;
    }
    
    .dropdown-item {
        font-size: 8px;
    }

    .header-tag1 {
        margin: 0 0 0 70px;
        top: 20%;
    }

    #header-tag1-title {
        font-size: 18px;
    }

    #header-tag1-title-underline {
        width: 220px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 300px;
        font-size: 40px;
        margin-top: 20px;
    }

    .explore-button {
        font-size: 10px;
        top: 75%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-links li {
        font-size: 12px;
    }
    
    #navbar-toggler-icon {
        width: 25px;
    }

    .dropdown-item {
        font-size: 11px;
        padding: 10px;
    }

    #header-tag1-title {
        font-size: 24px;
    }

    #header-tag1-title-underline {
        width: 300px;
        height: 1px;
    }

    #header-tag1-paragraph {
        width: 350px;
        font-size: 50px;
        margin-top: 20px;
    }

    .explore-button {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-links li {
        font-size: 14px;
    }
    
    .dropdown-item {
        font-size: 12px;
    }

    #header-tag1-title {
        font-size: 26px;
    }

    #header-tag1-title-underline {
        width: 350px;
        height: 1px;
    }

    #header-tag1-paragraph {
        font-size: 55px;
    }

    .explore-button {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .navbar-links {
        margin-left: 170px;
    }
}