* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Crimson Text', serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#navbar {
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 10px 20px 10px 20px;
    transition: all ease-in-out 0.6s;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}

#navbar-brand {
    width: 30px;
}

.navbar-links {
    margin-left: 100px;
}

.navbar-links li {
    padding: 0 20px 0 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    text-transform: capitalize;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.no-border {
    border: none;
}

#search-input {
    width: 200px;
    height: 32px;
    font-size: 12px;
}

#search-btn {
    width: 60px;
    height: 30px;
    font-size: 12px;
}

.header {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(44, 43, 43, 0.6);
}

.header-tag1 {
    position: absolute;
    margin: 0 0 0 40px;
    top: 20%;
    color: white;
    letter-spacing: 0.2em;
    z-index: 3;
}

#header-tag1-title {
    font-size: 30px;
}

.header-tag-title {
    display: none;
}

#header-tag1-title-underline {
    width: 400px;
    height: 2px;
    background-color: white;
}

#header-tag1-paragraph {
    width: 400px;
    font-size: 70px;
    font-weight: lighter;
}

.explore-button {
    position: absolute;
    display: none;
    width: 200px;
    top: 80%;
    margin: 0 0 0 40px;
    z-index: 3;
    padding: 20px 40px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

a::before,
a::after {
    content: '';
    background: none;
    position: absolute;
    z-index: -1;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.explore-button::after {
    width: 0;
    height: 100%;
    left: -35%;
    top: 0;
    background-color: #186fe0;
    transform: skew(50deg);
    transform-origin: bottom right;
    transition: linear .4s;
}

.explore-button:hover::after {
    width: 410px;
    height: 100%;
}

.explore-button span {
    position: absolute;
}

.explore-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, right top, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.explore-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(rgb(190, 130, 18)));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.explore-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: (linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.explore-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: (linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), rgb(190, 130, 18));
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.span-hover {
    display: none;
}

.feedback-form {
    position: absolute;
    display: none;
    top: 22%;
    right: 10px;
    width: 380px;
    height: 428px;
    margin: 0 40px 0 0;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
    border-bottom: #4a89dc;
}

.input-focus {
    border-bottom: 1px solid red;
}


/* Label */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.used~label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }

    to {
        width: 0;
        background: transparent;
    }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 0.5em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}


/* Button modifiers */

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
    background: #357bd8;
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}