<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/Assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">

    <title>Ewa Jets - Exemplary Jet Services For You</title>
</head>

<body>
    <div class="contact-overlay"></div>

    <header>
        <h2 class="contact-title">Oil & gas</h2>
        <img src="../Assets/oil-gas-header.jpg" alt="jet" class="contact-header">
    </header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/"><img src="../Assets/logo.png" class="navbar-brand"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-links">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Templates/about.html">About us</a>
                </li>
                <li class="nav-item dropdown privateDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="privateDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Private Jet Charter
                    </a>
                    <div class="dropdown-menu" id="dropdown1" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../Templates/air-ambulance.html">Air Ambulance</a>
                        <a class="dropdown-item" href="../Templates/business-jets.html">Business Jets</a>
                        <a class="dropdown-item" href="../Templates/helicopter-charters.html">Helicopter Charters</a>
                        <a class="dropdown-item no-border" href="../Templates/private-jets.html">Private Jets</a>
                    </div>
                </li>

                <li class="nav-item dropdown airDropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="airDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Air Cargo Charter
                    </a>
                    <div class="dropdown-menu" id="dropdown2" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../Templates/dangerous-goods.html">Dangerous Goods</a>
                        <a class="dropdown-item" href="../Templates/heavy-outsize.html">Heavy and Outsize</a>
                        <a class="dropdown-item" href="../Templates/human-relief.html">Humanitarian and relief</a>
                        <a class="dropdown-item" href="../Templates/livestock-transport.html">Livestock Transport</a>
                        <a class="dropdown-item no-border" href="../Templates/oil-gas.html">Oil and gas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Templates/contact.html">Contact us</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="row ambulance-section">
        <div class="col-sm-3" id="spy">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="../Templates/air-ambulance.html">Air Ambulance</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../Templates/business-jets.html">Business Jets</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../Templates/helicopter-charters.html">Helicopter
                        Charters</a></li>
                <li class="nav-item"><a class="nav-link" href="../Templates/private-jets.html">Private Jets</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../Templates/dangerous-goods.html">Dangerous
                        Goods</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../Templates/heavy-outsize.html">Heavy &
                        Outsize</a></li>
                <li class="nav-item"><a class="nav-link" href="../Templates/human-relief.html">Humanitarian &
                        Relief</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../Templates/livestock-transport.html">Livestock
                        Transport</a></li>
                <li class="nav-item"><a class="nav-link active" href="../Templates/oil-gas.html">Oil & Gas</a></li>
            </ul>
        </div>
        <img src="../Assets/oil-gas.webp" class="ambulance-flex">
    </div>

    <div class="ambulance-text">
        <h3>Risk-free, specialized way to move Oil & Gas across the globe.</h3>
        <p>Managing and executing an airlift for the Oil & Gas industry can be a very cumbersome and risky process
            because of the threat involved. Any charter company that undertakes oil and gas transport needs to have
            specialists who are well versed with the process from A to Z and experienced and certified in arranging such
            air freights.</p>
        <p>The Ewa Jets cargo team has the extensive technical expertise and a worldwide network of aircraft and
            people involved to aid in speeding up the process. When you hire Ewa Jets to arrange an oil & gas
            charter, you hire a company, it’s brain and it’s heart.</p>
        <p>Please contact us 24/7 on our cargo hotline at <b>+254 776 629 284</b> or email us at
            <b>inquiries@ewajets.com</b> to manage your oil & gas charter.
        </p>
    </div>


    <div class="modal modal-success" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close modal-close" aria-label="Close" style="outline: none;"><i
                        class="bi bi-x-circle" style="float: right; padding: 8px; font-size: 22px;"></i></button>
                <div class="modal-body">
                    <center><i class="bi bi-check-circle success-tick"></i></center>
                    <p class="modal-body-p">You have successfully subscribed to Ewa Jets alerts and updates.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Off James Gichuru &, Olenguruone roads. Lavington, PO BOX: 835-00202, Nairobi, Kenya.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>+254 776 629 284</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>inquiries@ewajets.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a class="navbar-brand" href="/"><img src="../Assets/logo.png" class="navbar-brand"></a>
                            </div>
                            <div class="footer-text">
                                <p>Ewa Jets, providing you with the most stellar private jet charter services.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="../Templates/human-relief.html">Humanitarian and Relief</a></li>
                                <li><a href="../Templates/about.html">About us</a></li>
                                <li><a href="../Templates/livestock-transport.html">Livestock and Transport</a></li>
                                <li><a href="../Templates/air-ambulance.html">Air Ambulance</a></li>
                                <li><a href="../Templates/heavy-outsize.html">Heavy and Outsize</a></li>
                                <li><a href="../Templates/helicopter-charters.html">Helicopter Charters</a></li>
                                <li><a href="../Templates/dangerous-goods.html">Dangerous Goods</a></li>
                                <li><a href="../Templates/private-jets.html">Private Jets</a></li>
                                <li><a href="../Templates/oil-gas.html">Oil & Gas</a></li>
                                <li><a href="../Templates/business-jets.html">Business Jets</a></li>
                                <li><a href="../Templates/contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Enter your email address to subscribe to our news feed.</p>
                            </div>
                            <div class="subscribe-form" id="subscribe-form">
                                <form class="subscription-form">
                                    <input type="text" placeholder="Email Address" class="input-email" id="input-email"
                                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                    <button type="submit"><i class="bi bi-telegram"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="copyright-text">
                <p>Copyright &copy; 2022, All Rights Reserved</p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        // Navbar

        $(function () {
            $("#navbar-toggler-icon").click(function () {
                $("#navbarSupportedContent").slideToggle();
                $(".form").css({
                    "margin": "auto"
                })
            })

            $("#privateDropdown").click(function () {
                $("#dropdown1").slideToggle();
                $("#dropdown2").slideUp();
            })

            $("#airDropdown").click(function () {
                $("#dropdown2").slideToggle();
                $("#dropdown1").slideUp();
            })

            // Stats Count

            let nCount = selector => {
                $(selector).each(function () {
                    $(this)
                        .animate({
                            Counter: $(this).text()
                        }, {
                            duration: 4000,
                            easing: "swing",
                            step: function (value) {
                                $(this).text(Math.ceil(value));
                            }
                        });
                });
            };

            let a = 0;
            $(window).scroll(function () {
                let oTop = $(".stats").offset().top - window.innerHeight;
                if (a == 0 && $(window).scrollTop() >= oTop) {
                    a++;
                    nCount(".counting");
                }
            });
        });


        // Subscription Form

        let formSubscribe = document.querySelector(".subscription-form");
        let inputEmail = document.querySelector(".input-email")
        let modalSuccess = document.querySelector(".modal-success");
        let modalClose = document.querySelector(".modal-close");
        let overlay = document.querySelector(".modal-overlay");

        formSubscribe.addEventListener("submit", (e) => {
            e.preventDefault();

            if (inputEmail.value == null || inputEmail.value == "") {
                inputEmail.style.borderColor = "red";
                inputEmail.focus();
                return false;
            } else {
                inputEmail.style.border = "none";
                modalSuccess.style.display = "block";
                inputEmail.value = "";
                overlay.style.display = "block"
                return true;
            }
        })


        modalClose.addEventListener("click", () => {
            modalSuccess.style.display = "none";
            overlay.style.display = "none";
        })

        // Message Form

        var messageForm = document.querySelector(".message-form");
        var firstName = document.querySelector(".f-name-input");
        var lastName = document.querySelector(".l-name-input");
        var messageEmail = document.querySelector(".email-input");
        var messageTel = document.querySelector(".tel-input");
        var textBox = document.querySelector(".message-textbox");
        var messageSuccess = document.getElementById("message-success");

        messageForm.addEventListener("submit", (e) => {
            e.preventDefault();
            if ((firstName.value != "") && (lastName.value != "") && (messageEmail.value != "") && (
                    messageTel.value != "") && (textBox.value != "")) {
                firstName.style.borderColor = "lightblue";
                lastName.style.borderColor = "lightblue";
                messageEmail.style.borderColor = "lightblue";
                messageTel.style.borderColor = "lightblue";
                textBox.style.borderColor = "lightblue";
                messageForm.reset();
                messageSuccess.style.display = "block";

                return true;
            }
        });
    </script>
</body>

</html>